html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,a,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    list-style-type: none;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
html{
    font-size: 14px;
    background-color: #f8f8f8;
}
body {
    margin: 0 auto;
    background-color: #fff;
    font-family: PingFang SC Light,Heiti SC,San Francisco,Helvetica;
    color: #333;
    -webkit-text-size-adjust: none;
    width: 100%;
    max-width: 750px;
}
em, i, strong{
    font-style: normal;
}
p {
    text-align: justify;
    word-wrap: break-word;
    line-height: 1.5;
    letter-spacing: 1px;
}
a{
    color: #333;
}
input{
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}
button{
    outline: 0;
}
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}
.clearfix {
    zoom: 1;
}
.container{padding-right: 0px; padding-left: 0px;}
.fl-l{
    float: left;
}
.fl-r{
    float: right;
}
.flex {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 100%;
}
.mask{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(61,70,83,.4);
    z-index: 101;
}
.hide{
    display: none;
}
img {
    max-width: 100%;
}
.container{
    margin: 0 auto;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

/* Vant重构 */
.van-cell__value span{
    font-size: 16px;
    font-weight: 600;
    color: #ff8334;
}
.van-stepper__input{
    font-size: 16px;
    border: 0;
}
.van-stepper__minus, .van-stepper__plus{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
.van-stepper__minus{
    background-color: transparent;
    border: 1px solid #ff8334;
}
.van-stepper__plus{
    background-color: #ff8334;
    border: 0;
}
.van-stepper__minus::after, .van-stepper__minus::before{
    background-color: #ff8334;
}
.van-stepper__plus::after, .van-stepper__plus::before {
    background-color: #fff;
}
.van-tab--active{
    color: #ff8334;
}
.van-tabs__line{
    background-color: #ff8334;
}
.pay-form .van-cell__value span {
    font-size: 14px;
    font-weight: normal;
    color: #333;
}
.pay .van-submit-bar__price{
    padding-left: 20px;
    text-align: left;
}
.van-button--danger{
    background-color: #ff8334;
    border: 1px solid #ff8334;
}
.van-submit-bar__price-decimal{
    color: #ff8334;
}
.van-submit-bar__price-integer {
    color: #ff8334;
}
.van-checkbox--checked{
    border-color: #ff8334;
    background-color: #ff8334;
}



/* element重构 */
.el-input__inner{
    height: 30px;
    border: 0;
}
.el-input-number .el-input__inner {
    padding-left: 30px;
    padding-right: 30px;
}
.el-input-number {
    width: 100px;
    line-height: 28px;
}
.el-input-number__decrease {
    border-radius: 100%;
    border: 1px solid #ff8334;
    background: transparent;
    color: #ff8334;
}
.el-input-number__increase{
    border-radius: 100%;
    border-left: 0;
    background: #ff8334;
    color: #fff;
}
.el-input-number__decrease, .el-input-number__increase {
    width: 30px;
}
.el-input-number__decrease.is-disabled, .el-input-number__increase.is-disabled {
    color: #ff8334;
}
.el-input-number__decrease:hover {
    color: #ff8334;
}
.el-input-number__increase:hover{
    color: #fff;
}

.cartview .el-input-number {
    width: 80px;
    line-height: 20px;
}
.cartview .el-input-number__decrease, .cartview .el-input-number__increase {
    width: 20px;
}
.cartview .el-input-number .el-input__inner {
    padding-left: 20px;
    padding-right: 20px;
    height: 24px;
}
.van-modal {
    background-color: rgba(0,0,0,.3);
}
.van-actionsheet{
    height: 70%;
}